.img-fluid {
    max-width: 300px;
}

.icon {
    width: 32px;
    height: auto;
}

footer div {
    height: 10px;
}

@media (max-width: 480px) {
    aside {
        margin: auto;
    }
    .img-fluid {
        max-width: 100%;
        margin-left: 0;
        margin: auto;
    }
}